body {
  background-color: #343a40;
  box-sizing: border-box;
}

.topSymbol {
  color: white;
  margin: 0;
  font-size: 40px;
}

.price {
  color: white;
  margin: 0;
}

.change {
  color: white;
  font-size: 12px;
}

.card-body {
  background-color: lightslategrey;
  color: white;
  text-align: center;
  border-radius: 0;
}

ul {
  list-style: none;
  text-align: left;
  margin-top: 5px;
}

.imgResize {
  margin: 0 auto;
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.newsStories {
  margin-top: 20px;
  color: white;
}

.newsHeader {
  font-size: 20px;
}

.newsBody {
  line-height: 1;
  text-align: left;
  margin-top: 10px;
}

.chartRow {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: lightslategrey;
}
.headline {
  font-weight: bolder;
}

.snapshot {
  box-shadow: 0px 0px 10px black;
}

.dynamic {
  height: 400px;
  overflow: auto;
  margin: 0 0;
  box-shadow: 0px 0px 10px black;
}

footer {
  text-align: center;
  margin-top: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
